body{
    background-size: cover;
    color: gray;
}
textarea{
    max-height: 100px;
    max-width: 400px;
}

#complaints .read{
    background-color: #8c8c8c;
}
.container-fluid {
    padding-right: 0;
    padding-left: 0;
}
.email{
    width:250px;
}
.username{
    width: 100px;
}