/*language dropdown*/
#ru:focus, #eng:focus {
  outline: 0;
}

.wrapper-dropdown {
  /* Size and position */
  position: relative;
  width: 120px;
  margin:  4px auto;
  padding: 10px;
 
  /* Styles */
  border-radius: 7px;
  cursor: pointer;
  outline: none;

  /* Font settings */
  font-weight: bold;
}

.wrapper-dropdown:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -3px;
  border-width: 6px 6px 0 6px;
  border-style: solid;
  border-color:gold transparent;
}

.wrapper-dropdown .dropdown {
  /* Size &amp; position */
  position: absolute;
  padding: initial;
  top: 140%;
  left: 0;
  right: 0;
 
  /* Styles */
  background: silver;
  border-radius: inherit;
  font-weight: normal;
  transition: all 0.5s ease-in;
  list-style: none;
 
  /* Hiding */
  opacity: 0;
  pointer-events: none;
}

.wrapper-dropdown .dropdown li form {
  display: block;
  padding: 10px;
  margin: auto;
  text-decoration: none;
  color: #ffffff;
  transition: all 0.3s ease-out;
}

.wrapper-dropdown .dropdown li input[type="submit"]{
  border:0;
  padding:0;
  background:none;
  cursor:pointer;
  text-decoration: none;
}
 
.wrapper-dropdown .dropdown li:first-of-type form {
  border-radius: 7px 7px 0 0;
}
 
.wrapper-dropdown .dropdown li:last-of-type form {
  border-radius: 0 0 7px 7px;
  border: none;
}
 
/* Hover state */
.wrapper-dropdown .dropdown li:hover form {
  background: silver;
}

.wrapper-dropdown .dropdown:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  bottom: 100%;
  right: 15px;
  border-width: 0 6px 6px 6px;
  border-style: solid;
  border-color: silver transparent;
}
 
.wrapper-dropdown .dropdown:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  bottom: 100%;
  right: 13px;
  border-width: 0 8px 8px 8px;
  border-style: solid;
  border-color: rgba(0,0,0,0.1) transparent;   
}

.wrapper-dropdown.active .dropdown {
  opacity: 1;
  pointer-events: auto;
}