html {
	position: relative;
	min-height: 100%;
}
footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50px; /*высота футера будет зависеть от высоты экрана*/
}
body{background-color: rgb(0, 0, 0);margin-bottom: 10vh; color: lightyellow; background-size: cover;}
#head { background:#181015 url("../images/bg_header.jpg") no-repeat; background-size: cover; min-height:620px; text-align: center; padding-top:240px; color:white; font-weight:300; }
#head.secondary { height:50px; min-height: 50px; padding-top:0; }
	#head .lead { font-size:44px; margin-bottom:6px; color:white; line-height:1.15em; }
	#head .tagline { color:rgba(255,255,255,0.75); margin-bottom:25px; }
		#head .tagline a { color:#fff; } 
@media (max-width: 767px) {
	#head { min-height:420px; padding-top:160px; }
	#head .lead { font-size: 34px; }
}
.panel{background-image: linear-gradient(to bottom, #3c3c3c 0%, #222 100%); border:0 solid black; color: goldenrod;}
.sign_up{
	margin-top: -25%;
	margin-bottom: 0;
}
@media (min-width: 768px) {
	.col-sm-offset-2 {
		margin-left: 0;
	}
}
.slideUp { top:-100px; }
.headroom { -webkit-transition: all 0.4s ease-out; -moz-transition: all 0.4s ease-out; -o-transition: all 0.4s ease-out; transition: all 0.4s ease-out; }
.dropdown li form {
	display: block;
	padding: 10px;
	margin: auto;
	text-decoration: none;
	color: #8aa8bd;
	border-bottom: 1px solid #e6e8ea;
	box-shadow: inset 0 1px 0 rgba(255,255,255,1);
	transition: all 0.3s ease-out;
}

/* Highlights (in jumbotron in most cases) */
.highlight { margin-top:40px; }
	.h-caption { text-align: center; } 
	.h-caption i { display:block; font-size: 54px; color:#382526; margin-bottom:36px; }
	.h-caption h4 { color:#382526; font-size: 16px; font-weight: bold; margin-bottom:20px; }
	
.main{width:auto;background-color: #080808;margin:50px;overflow:hidden; border-radius: 0 50px 0 50px;}
.main_text{font-family:verdana,Arial,Helvetica,sans-serif;padding:10px}
.main_text h1{font-size:18px;text-align:center;margin-bottom:15px;line-height:22px;color: lightyellow}
.main_text h2{margin-bottom:15px;text-align:center;font-size:17px;line-height:18px;color:lightgoldenrodyellow}
.main_text p{margin-bottom:15px;font-size:14px;line-height:18px;color:lightyellow;text-align:justify;text-indent:18px}
.main_text p.center{text-align:center}
.main_text b{font-weight:700;color:#CFC}
.main_text a{color:#1ad0eb}

article{
	margin-top: 20%;
}
/* Typography */
h2{ color: #a94442; }
h1, .h1, h2, .h2, h3, .h3 { margin-top:30px; } 
blockquote { font-style: italic; color:#999; margin:30px 0 30px; }
label { color: #777; }
.thin { font-weight:300; }
.page-title { margin-top:20px; font-weight:300; }
.text-muted { color:#888; }
.breadcrumb { background:none; padding:0; margin:30px 0 0 0; }
ul.list-spaces li{ margin-bottom:10px; }
/* Helpers */
.container-full { margin: 100px auto; width: 100%; height: 100%;}
.top-space { margin-top: 60px; }
.top-margin { margin-top:20px; }

img { max-width:100%; }
img.pull-right { margin-left: 10px; }
img.pull-left { margin-right: 10px; }
#map { width:100%; height:280px; }
.navbar{padding-top: 10px; min-height: 80px;}
footer.main-footer {
	background-color:#080808 ; color: #777;
	height: 50px;
}
.footer-text {
	text-align: center;
	padding-top: 15px;
}
.user_img{
	width: 30%;
	min-height: 150px;
	float: left;
}
.user_info{
	min-height: 150px;
	color: #ffffff;
	font-size: medium;
}
#load_img{
	height: 30px;
	opacity: 0.8;
	background: gray;
	margin-top:-30px;
}
.file_upload{
	position: relative;
	overflow: hidden;
}
.navbar-brand img{
	margin-top: -10px;
	height: 50px;
}
.file_upload > button{
	float: right;
	width: 8em;            /* example */
	height: 100%
}
.file_upload > div{
	padding-left: 1em      /* example */
}
@media only screen and ( max-width: 500px ){  /* example */
	.file_upload > div{
		display: none
	}
	.file_upload > button{
		width: 100%
	}
}
.file_upload input[type=file]{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	transform: scale(20);
	letter-spacing: 10em;     /* IE 9 fix */
	-ms-transform: scale(20); /* IE 9 fix */
	opacity: 0;
	cursor: pointer
}
.file_upload{
	min-width: 350px;
	border: 1px solid #ccc;
	border-radius: 3px;
	box-shadow: 0 0 5px rgba(0,0,0,0.1);
	transition: box-shadow 0.1s linear
}
.file_upload.focus{
	box-shadow: 0 0 5px rgba(0,30,255,0.4)
}
.file_upload > button{
	background: #a9a8a3;
	transition: background 0.2s;
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 2px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
	color: #fff;
	text-shadow: #a9a8a3 0 -1px 0;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis
}
.file_upload:hover > button{
	background: #a9a8a3;
	text-shadow: #a9a8a3 0 -1px 0
}
.file_upload:active > button{
	background: #a9a8a3;
	box-shadow: 0 0 3px rgba(0,0,0,0.3) inset
}

table{
	color: white; /* Цвет текста */
}
td, th	{
	text-align: center; /* Выравнивание по центру */
	padding: 10px; /* Поля вокруг текста */
}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
	color: inherit;
	background-color: inherit;
}
#count{
	background: darkorange;
	border-radius: 3px;
	width: 40px;
}
.btn-black {
	margin-top: 10px;
	background-color:#696969;
	color:#FFFFFF;
	border-color:#292929;
}
.btn-black:hover, .btn-black:focus {
	background-color: #3b3b3b;
	color: #FFFFFF;
}
#messages{
	float: right;
	overflow: auto;
	height: 300px;
}
.btn-black:active {
	background-color: #3b3b3b;
	color: #FFFFFF;
}
#mess_table tr{
	border-bottom: 1px solid white;
}
a{
	color:#ffffff;
}
li{
	list-style: none;
}
.overlay {
	background-color: rgba(0, 0, 0, 0.7);
	bottom: 0;
	cursor: default;
	left: 0;
	opacity: 0;
	position: fixed;
	right: 0;
	top: 0;
	visibility: hidden;
	z-index: 99999;
	-webkit-transition: opacity .5s;
	-moz-transition: opacity .5s;
	-o-transition: opacity .5s;
	transition: opacity .5s;
}
.popup, .popup1, .popup2{
	background-color: #fff;
	border: 3px solid #fff;
	color: #737373;
	display: inline-block;
	left: 50%;
	opacity: 0;
	padding: 15px;
	max-width: 90%;
	max-height: 90%;
	position: fixed;
	text-align: justify;
	top: 40%;
	visibility: hidden;
	z-index: 999999;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transition: opacity .5s, top .5s;
	-moz-transition: opacity .5s, top .5s;
	-o-transition: opacity .5s, top .5s;
	transition: opacity .5s, top .5s;
	border-radius: 11px;
}
.popup .close_window,
.popup1 .close_window,
.popup2 .close_window{
	width: 6px;
	height: 17px;
	position: absolute;
	padding: 1px 9px 4px 9px;
	top: -15px;
	right: -15px;
	cursor: pointer;
	color: #fff;
	font-family: 'tahoma', sans-serif;
	background-color: #5cb85c;
	border: 1px solid #3c763d;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	text-align: center;
	box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.5);
}
.popup .close_window:hover,
.popup1 .close_window:hover,
.popup2 .close_window:hover{
	background: -webkit-gradient(linear, left top, right top, from(#051fb8), to(#3d51c8));
	background: -webkit-linear-gradient(top, #051fb8, #3d51c8);
	background: -o-linear-gradient(top, #051fb8, #3d51c8);
	background: -ms-linear-gradient(top, #051fb8, #3d51c8);
	background: linear-gradient(top, #051fb8, #3d51c8);
	background-color: #051fb8;
	border: 1px solid #00385E;
}
.popup .close_window:active,
.popup1 .close_window:active,
.popup2 .close_window:active{
	background: #8f9be0;
}
#username{
	border: none;
	background-color: transparent;
	text-align: left;
	width: 70px;
}
#main{
	margin: 15%;
	background: rgba(0, 0, 0, 0.8);;
}
.window{
	display:none;
	position: absolute;
}
#window:hover .window{
	width: 400px;
	background-color: #8c8c8c;
	border-radius: 10px;
	margin-top: 40px;
	display: block;
}
.navbar a, .navbar span{
	font:italic 18px bold Times;
	color: gold;
}