.mainbody {
    background:#f0f0f0;
}
/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    margin-left: -15px;
    margin-right: -15px;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
    padding-left: 0;
    padding-right: 0;
}
.navbar-wrapper .navbar {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-content
{
    width:320px;
    padding: 15px 15px 0;
}
.navbar-content:before, .navbar-content:after
{
    display: table;
    content: "";
    line-height: 0;
}
.navbar-nav.navbar-right:last-child {
    margin-right: 15px !important;
}
.navbar-footer
{
    background-color:#DDD;
}
.navbar-footer-content {
    padding:5px 5px 5px 5px;
    background-color: #737373;
}
.dropdown-menu {
    padding: 0;
    overflow: hidden;
}

.brand_network {
    color: #9D9D9D;
    float: left;
    position: absolute;
    left: 70px;
    top: 30px;
    font-size: smaller;
}

.post-content {
    margin-left:58px;
}

.badge-important {
    margin-top: 3px;
    margin-left: 25px;
    position: absolute;
}

body {
    background: #737373 url(../images/bg.jpg);
    background-size: cover;
}
.mainbody{
    background-image: url(../images/bg.jpg);
    background-size: cover;

}
ul{
    list-style-type: none;
}

.panel-body {
    padding: 35px;
}
#complaints .read{
    background-color: #8c8c8c;
}
input[type=file]{
    display:none;
}
#newImage{
    display: none;
}